csharp/Tracking/bin/
csharp/Tracking/.vs/Tracking/v14/.suo
csharp/Tracking/obj/Debug/DesignTimeResolveAssemblyReferences.cache
csharp/Tracking/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
csharp/Tracking/obj/Debug/Tracking.csproj.FileListAbsolute.txt
csharp/Tracking/obj/Debug/Tracking.csprojResolveAssemblyReference.cache
csharp/Tracking/obj/Debug/Tracking.dll
csharp/Tracking/obj/Debug/Tracking.pdb
csharp/Tracking/obj/Debug/TrackingApp.csproj.FileListAbsolute.txt
csharp/Tracking/obj/Debug/TrackingApp.csprojResolveAssemblyReference.cache
csharp/Tracking/obj/Debug/TrackingApp.exe
csharp/Tracking/obj/Debug/TrackingApp.pdb
csharp/Tracking/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
csharp/Tracking/obj/Release/Tracking.csproj.FileListAbsolute.txt
csharp/Tracking/obj/Release/Tracking.dll
csharp/Tracking/obj/Release/Tracking.pdb
csharp/Tracking/obj/Release/TrackingApp.csproj.FileListAbsolute.txt
csharp/Tracking/obj/Release/TrackingApp.csprojResolveAssemblyReference.cache
csharp/Tracking/obj/Release/TrackingApp.exe
csharp/Tracking/obj/Release/TrackingApp.pdb
unity/Library/AnnotationManager
unity/.vs/
unity/Library/
unity/Temp/UnityLockfile
unity/Temp/
unity/obj/
csharp/Tracking/obj/
unity/unity.v12.suo
release/
cpp/Xcito/build/bin/
cpp/Xcito/build/tmp/
*.sdf
*.suo
unity/unity.sln
cpp/Mrmc/msvc/mrmc_net.VC.db
cpp/Mrmc/msvc/tmp/
cpp/Mrmc/msvc/bin/
unity/unity.csproj
